<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h2>You have deleted everything!!!!</h2>
      <a href="/"><button type="submit" name="button">Delete All</button></a>
</body>
</html>
