<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div class="container">
          <div class="col-sm-4 formBox">
              <form class="" action="/create_contact" method="post">
                  <h2 for="name">Name:</h2>
                  <div class="">
                      <label for="first_name">First Name:</label>
                      <<input disabled disabled class="form-control" name="first_name"  required>
                      <label for="last_name">Last Name:</label>
                      <input disabled  class="form-control" type="text" name="last_name"  required>
                </div>
                <h2 for="">Contact:</h2>
                <div class="">
                    <div class="">
                        <label for="street">Street:</label>
                        <input disabled  class="form-control" type="text" name="street" placeholder="Ex: 405 Maple Lane" required >
                    </div>
                    <div class="">
                        <label for="city">City:</label>
                        <input disabled  class="form-control" type="text" name="city"  placeholder="Ex: Portland" required>
                    </div>
                    <div class="">
                        <label for="state">State:</label>
                        <input disabled  class="form-control"type="text" name="state"  placeholder="Ex: OR" maxlength=2 required>
                    </div><div class="">
                        <label for="zip">Zip:</label>
                        <input disabled  class="form-control"type="text" name="zip"  placeholder="Ex: 97213" minlength="5" maxlength="11" required>
                    </div>
                    <div class="">
                        <label for="email">Email Address:</label>
                        <input disabled class="form-control" type="email" name="name"  placeholder="joe@email.com">
                    </div>
                     <div class="phoneBox">
                         <label for="phone">Phone:</label>
                         <span>(</span><input disabled class="form-control" type="text" name="phone1" minlength="3" maxlength="3" placeholder="123"><span>)</span>
                         <input disabled class="form-control" type="text" name="phone2" minlength="3" maxlength="3" placeholder="456"><span>-</span>
                         <input disabled class="form-control" type="text" name="phone3" placeholder="7890" minlength="3" maxlength="4">
                     </div>
                 </div>
                 <button disabled class="form-control btn btn-success" type="submit" name="button">SUBMIT</button>
              </form>
              <form action="/delete_contacts" method="post">
                  <button disabled class="form-control btn btn-danger" type="submit" name="button">DELETE ALL CONTACTS</button>
              </form>
              <form class="" action="/demo" method="post">
                  <button   class="form-control btn btn-info" type="submit" name="button">DEMO</button>
                   <a href="/"><button class="btn btn-warning form-control" type="button" name="button">HOME</button></a>
              </form>
          </div>
          <div class="col col-sm-7 allContacts col-sm-offset-5">
                 <h1>All Entries Have Been Deleted</h1>
             <p>Please click yellow button "HOME" on the left-hand side or "DEMO" to see a quick demo of this app's displaying capabilities </p>

          </div>
      </div>
  </body>
</html>
