h1,h2{
    font-family: 'Pacifico', cursive !important;
}
h1{
    text-shadow: 3px 3px 2px  #f2e6ff !important;
}

body{
    background: url("http://www.publicdomainpictures.net/pictures/50000/velka/halftone-vector-1369657879ZTd.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
}
/*.well{
    margin: auto 0;
    position: fixed;
    left: 0;
    height: 100%;
    min-width: 300px;
    top:0;
}*/

.formBox{
    position: fixed;
    background: #b3ffff;
    height: 100%;
    left: 0;
}

.phoneBox input{
    width: 4em;
    display: inline-block !important;
}
.phoneBox label{
    display: block;
}

.contactBox{
    background:#ffccff;

    padding: 30px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 5px 5px #808080;
}
.contactBox p{
    font-weight: bold;
}
.info{
    font-weight: normal;
}
.initials{
    color: white;
    font-family: 'Pacifico', cursive !important;
    font-size: 5em;
    text-shadow: 5px 5px black;
    padding: 10px;
    text-align: center;
}
