h1,h2, label{
    font-family: 'Baloo Paaji', cursive !important;
}
body{
    background: url("http://www.publicdomainpictures.net/pictures/50000/velka/halftone-vector-1369657879ZTd.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*.well{
    margin: auto 0;
    position: fixed;
    left: 0;
    height: 100%;
    min-width: 300px;
    top:0;
}*/

.formBox{
    position: fixed;
    background: #b3ffff;
    height: 100%;
    left: 0;
}

.phoneBox input{
    width: 4em;
    display: inline-block !important;
}
.phoneBox label{
    display: block;
}

.contactBox{
    background: #ffffcc;

    padding: 30px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 5px 5px #808080;
}
.contactBox p{
    font-weight: bold;
}
.info{
    font-weight: normal;
}
